@include darkMode{
    
    .carousel{
        background: #2f353f;
    }
    
    .project{
        background: #2f353f;
        .blockMenu{
            background: #9a9696;
            a{
                &:hover{
                    color: rgb(28, 27, 27);
                }
                h2{
                    &:hover{
                        color: aliceblue;
                    }
                }
            }

        }
    }
    .css-project{
        background: #2f353f;
        margin-top: -24px;
    }
    
    footer{
        margin-top: 0;
    }
    
}












