// .carousel {
//     background: url("../img/product-header-bg.jpg") no-repeat bottom center /
//     cover;
//   padding: 200px 0;

//   &__action {
//     display: flex;
//   }

//   &__btn1 {
//     @include styleButton(
//       transparent,
//       $color-blue-2,
//       10px,
//       $color-blue-2,
//       10px 20px,
//       #fff,
//       $color-blue-2
//     );
//   }
//   &__btn2 {
//     @include styleButton(
//       linear-gradient(120deg, #60a4f4, #2a73dd),
//       linear-gradient(120deg, #60a4f4, #2a73dd),
//       10px,
//       $color-white-1,
//       10px 20px,
//       #fff,
//       linear-gradient(120deg, #60a4f4, #2a73dd)
//     );
//   }
// }
.carousel {
  margin-top: 61px;

  .owl-carousel {
    .item {
      img {
        height: 590px;
        background-size: contain;
      }
    }
  }
}

.owl-theme {
  .owl-dots {
    .owl-dot span {
      margin-right: 10px;
    }
  }
}