* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background: #7594c7;
}

.themebox {
  width: 200px;
  background: #e2ebfc;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 1;
  padding: 20px;
}

.header {
  color: #fff;
}
.header__bottom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #171c24;
}
.darkMode .header {
  background: #353536;
}
.header .navbar .navbar-brand {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.header .navbar .navbar-collapse .btn-group .form-control {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
.header .navbar .navbar-collapse .btn-group .form-control .item-control {
  color: black;
}
.header .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}
.header .navbar-nav .nav-item.active .nav-link {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

.carousel {
  margin-top: 61px;
}
.carousel .owl-carousel .item img {
  height: 590px;
  background-size: contain;
}

.owl-theme .owl-dots .owl-dot span {
  margin-right: 10px;
}

.project .blockMenu {
  display: flex;
  background: #EBA768;
  color: white;
}
.project .blockMenu h2 {
  display: inline-block;
  margin: 0 11px 0 -29px;
  background: #2C2C2C;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  position: relative;
  width: 160px;
}
.project .blockMenu h2:hover {
  color: #EBA768;
}
.project .blockMenu a {
  list-style: none;
  text-decoration: none;
  margin: 5px 50px 5px 0;
  color: #fff;
}
.project .blockMenu a:hover {
  color: rgb(30, 87, 30);
}
.project .blockMenu ul {
  display: flex;
  list-style: none;
}
.project .blockMenu ul li {
  margin-top: 7px;
}
.project .blockMenu ul li a {
  display: inline-block;
}

footer {
  margin-top: 20px;
  padding-top: 16px;
  background-color: #171c24;
}
footer .footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
footer .footer__wrapper .footer__link {
  display: grid;
  grid-template-rows: 1fr;
  color: rgb(221, 213, 213);
  text-decoration: none;
}
footer .footer__wrapper .footer__link .footer__social {
  margin-bottom: 10px;
}
footer .footer__wrapper .footer__link .footer__social .social__content span {
  margin-right: 20px;
}
footer .footer__wrapper .footer__link .footer__social .social__content span i {
  font-size: 24px;
}
footer .footer__wrapper .footer__link .footer__social .social__content span:hover {
  cursor: pointer;
  text-decoration: none;
}
footer .footer__wrapper .footer__link .payment__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
footer .footer__wrapper .footer__link .payment__content span img {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
footer .footer__wrapper .footer__link .payment__content span img:hover {
  cursor: pointer;
  text-decoration: none;
}
footer .footer__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: rgb(226, 42, 42);
}
footer ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
footer ul li a {
  text-decoration: none;
  list-style: none;
  color: rgb(243, 234, 234);
}
footer ul li a:hover {
  color: #EBA768;
  text-decoration: none;
}
footer .footer__copyright {
  margin-top: 20px;
  padding: 20px 25px;
  font-size: 14px;
  border-top: 1px solid #EBA768;
  color: rgb(243, 234, 234);
}
footer .footer__copyright a {
  text-decoration: underline;
  color: red;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */